<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de Rene Ballinas Torres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content> -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Mi App Ionic</h1>
  <p>
    Una aplicación diseñada para mostrar, organizar y gestionar mi CV de mi experiencia en la Universidad y en el
    Desarrollo de proyectos.
  </p>

  <h2>Versión</h2>
  <img alt="" src="../../assets/html_css.png" />
  <p>
    <b>Versión 1.0.2</b>
  </p>
  <p>
    Última actualización: <b>27 de febrero de 2025</b>
  </p>

  <h2>Descripción de la App</h2>
  <img alt="" src="../../assets/desarrollo_web.png" />
  <p>
    MiApp Ionic es una aplicación móvil que permite a los usuarios ver, analizar y comparar mis habilidades, experiencia
    tanto Universitaria y en el Desarrollo de proyectos. Con una interfaz intuitiva y personalizable, esta aplicación
    está
    diseñada para demostar a los usuarios mi experiencia y habilidades optenidos.
  </p>

  <h2>Desarrollador</h2>
  <p>
    <b>Desarrollado por: </b>Rene Ballinas Torres
  </p>

  <h2>Contacto</h2>
  <p>
    Si tienes preguntas, sugerencias o problemas, puedes contactarnos en:
    <li>Correo electrónico: soporteMiapp.com</li>
    <li>Sitio web: www.miapp.com</li>
  </p>
  <p>
    Redes sociales:
    <li>Facebook: MiAppOficial</li>
    <li>Twitter/X: MiAppOficial</li>
    <li>Instagram: MiAppOficial</li>
  </p>
</ion-content>
